
body{
    background-color: #182a3d;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    padding-top: 5%;
    padding-left: 5%;
    width: 90%;
    text-align: center;
    align-items: center;
    height: auto;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
.community{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5%;
    padding-bottom: 10%;
    grid-area: 1/1/2/2;
    background-color: rgb(255,253,253);
}
.card-details{
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 100%;
    /* border:3px solid blue; */
}
.card{
    padding-top: 5%;
    border-bottom-left-radius: 10px;
    grid-area: 1/1/2/2;
    background-color: rgb(15,67,66);
    /* border: 3px solid rgb(73, 198, 209); */
}
.why-us{
    padding-top: 5%;
    border-bottom-right-radius: 10px;
    color:white;
    grid-area:1/2/2/3;
    background-color:rgba(85,145,142,0.698);
    /* border:3px solid black; */
}


#price{
    font-size: 20px;
    color:white;
    font-weight: bolder;
}

.why-us-header{
    color:white;
    text-align: center;
    font-weight: bolder;
}

.community-header{
    font-size: 20px;
    color:skyblue;
}
.days{
    color:darkgreen
}

.gain{
    color:darkgrey;
    font-weight: bold;
}
#btn{
    background-color: green;
    color:white;
    font-weight: bold;
    display: inline-block;
    width: 45%;
    height: 17%;
    border:none;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
}
.p-0{
}

.p-01, .p-02, .card-header{
    color:white;
}

.p-0{
    position:relative;
    bottom:20px;
}